<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/icon.webp">

</head>
<body>    
    
    <h1>Welcome To Facebook</h1>

    <div class="link-container">
        <nav class="links">
            <a href="/">Home</a>           
        </nav>
    </div>
   
    <div class="container">
    <section id="sec">
        <form action="/create-article" method="post">
            <input type="text" name="title" id="user-name" placeholder="name">
            <textarea name="article" id="post" placeholder="message"></textarea>
            <button>Post a message</button>
        </form>
    </section>
    
 

    <div class="user-list">
        <% for (let i=0; i<users.length;i++) {%>
        <div class="user-list-container"> 
            <div class="text">
                <p class="name-date"><span><%= users[i].title %></span></p>
                <p class="user-post"><%= users[i].article %></p> 
            </div>                              
                <a href="/fullArticle/<%=users[i]._id %>">See More...</a>   
                <p class="time"><%= users[i].created_at %></p>                
        </div>
        <%}%>
    </div>
</div>
    <footer> &copy;Made By Ola</footer>
</body>
</html>